<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>activate</servlet-name>
        <servlet-class>actions.activate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deactivate</servlet-name>
        <servlet-class>actions.deactivate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>actions.upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>download</servlet-name>
        <servlet-class>actions.download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>actions.delete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>activate</servlet-name>
        <url-pattern>/activate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deactivate</servlet-name>
        <url-pattern>/deactivate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
